extends template

block content
    h1 Welcome to Crimson Delivery
    form(style='text-align: center')
        h2 Create an item in our catalog
        input(type='text' name='name' placeholder='Name') 
        br
        input(type='text' name='description' placeholder='Description') 
        br
        input(type='number' name='price' placeholder='Price') 
        br
        input(type='number' name='quantity' placeholder='Quantity') 
        br
        button(type='button' onclick='createItem()') Create Item





